*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color:#283618 ;
    height: 80px;
    color: #FFEBAD;
    width: auto;
}
.logoheader{
    width: 50px;
    height: 50px;
    padding: 15px 30px;
    float: left;
}
.textheader{
    font-size: 20px;
    float: left;
    padding: 25px 0px;
    font-family: 'Segoe UI';
    font-weight: 700;
}
.menuheader1, .menuheader2, .menuheader3 {
    list-style: none;
    float: right;
    padding: 33px 20px;
    ffont-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}


.main{
    background-color: #606c38;
    height: 1000px;
    padding: 80px 70px;
}
.contentmain h1{
    font-family: 'Calma Display';
    color: #FFEBAD;
    font-size:100px;
}
.contentmain h2{
    font-family: 'Segoe UI';
    color: #FFEBAD;
    font-size:60px;
}
.content{
    height: 500px;
}
.contenttitle {
    font-family: 'Segoe UI';
    margin-top: 20px;
    font-size:40px;
    border-bottom: 2px solid #FFEBAD;
}
.contentitem{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 75px;
    float: left;
}
.contentform{
    padding-top: 100px;
}

.footer{
    background-color: #fefae0;
    height: 100px;
    padding: 30px;
    color: black;
}
.logofooter{
    font-size: 30px;
    float: left;
}
.infofooter h2{
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}
.infofooter ul{
    float: right;
    list-style: none;
    font-family: sans-serif;
}